<h4 class="text-muted pb-4">Donation Sent : 2</h4>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Upgrade to</th>
            <th scope="col">Items</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let b of banka">
            <th> </th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Jacob</td>
            <td>Thornton</td>
          </tr>
          <tr>
            <th>3</th>
            <td>Larry</td>
            <td>the Bird</td>
          </tr>
        </tbody>
      </table>
      <p class="pl-4 small text-muted">Displaying 1-8 of 8 results.</p>
    </div>
  </div>
</div>