<h4 class="text-muted pb-4">Potential Donations</h4>
<p class="small text-muted">* Formula for potential income for each grade : Total downline of that level x Upgrade
  Donation for that level.</p>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Your Grade</th>
            <th scope="col">Total Downline</th>
            <th scope="col">Upgrade Donation</th>
            <th scope="col">Level Income</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th> </th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Jacob</td>
            <td>Thornton</td>
          </tr>
          <tr>
            <th>3</th>
            <td>Larry</td>
            <td>the Bird</td>
          </tr>
        </tbody>
      </table>
     
      <ul class="small mt-5">
        <li>
            <p class="m-0 p-0 text-muted">Your Grade : Your grade also represent until which level you will earn.</p>
        </li>
        <li>
            <p class="m-0 p-0 text-muted">Total Downline : Downline that will donate/already donated to you if they want to upgrade.</p>
        </li>
        <li>
            <p class="m-0 p-0 text-muted">Upgrade Fee : Amount of downline's donation to upgrade to that grade.</p>
        </li>
        <li>
            <p class="m-0 p-0 text-muted">Level Income : Total Downline x Upgrade Donation of that level.</p>
        </li>
        <li>
            <p class="m-0 p-0 text-muted">Subtotal : Sum of Level Income until that level.</p>
        </li>
      </ul>
    </div>
  </div>
</div>