<h4 class="text-muted pb-4">Membership Upgrade <i class="material-icons">arrow-right</i>
  <h6>Donate & Upgrade</h6>
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="card card-content">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                      Collapsible Group Item #1
                    </button>
                  </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    <ul class="small text-muted">
                        <li>
                            <p class="m-0 p-0">You must complete the steps below:</p>
                            <ul>
                                <li>
                                    <p class="m-0 p-0">Donate the correct amount to the assigned account.</p>
                                </li>
                                <li>
                                    <p class="m-0 p-0">Submit the donation form for approval.</p>
                                </li>
                                <li>
                                    <p class="m-0 p-0">Wait for approval. Assigned upline will review your donation.</p>
                                </li>
                                <li>
                                    <p>Please provide full details (including screenshot) of the transaction.</p>
                                </li>
                                <li>
                                    <p>Upline will validate your donation form submission within 24 hours. You can contact your upline directly after that.</p>
                                </li>
                                <li>
                                    <p>Upline has the right to Reject form submission if unable to verify transaction details. You can resubmit if got rejected.</p>
                                </li>
                                <li>
                                    <p>Communication about the upgrade process is between you and the upline.</p>
                                </li>
                                <li>
                                    <p>If your account reach expiry, but your donation is still pending for approval, your account won't be removed by the system.</p>
                                </li>
                                <li>
                                    <p>You have to read and agreed the iCharity Club terms here.</p>
                                </li>
                                <li>
                                    <p>All donations are voluntarily and final. Refund not available.</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
            <h4><strong>Step 1</strong> : Make a Donation</h4>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            Grade 3 Donation
                        </div>
                        <p class="text-center">USD 80 or BTC 0.0092</p>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>