<app-menu></app-menu>
<div class="faq_portada py-5">
    <h1 class="h1">Frequently Asked Questions</h1>
</div>

<div class="container my-5">
  <div class="text-container w-50">
    <h2>General</h2>

    <p class="text-muted mt-4"><strong>What is iCharity Club?</strong><br>
      iCharity Club is a member-to-member, direct donation platform, for members to help each other members in a
      systematic way. By using this platform, member can give and receive donations from each other.
    </p>

    <p class="text-muted"><strong>Which countries can join this program?</strong><br>
      This program is available worldwide.
    </p>

    <p class="text-muted"><strong>Do I need to own a website to join?</strong><br>
      No. As a registered member, you will get your own referral link. </p>You can use all marketing material that is
    being shared by other members and add your own ads/marketing material.<p></p>

    <h2>The Program &amp; System</h2>

    <p class="text-muted mt-4"><strong>How many donators can I invite?</strong><br>
      You can refer unlimited donators.</p>

    <p class="text-muted"><strong>Can Free member earn any donation?</strong><br>
      No. A member need to donate first before receiving donation. The receiver will approve and upgrade your account
      status.</p>

    <p class="text-muted"><strong>What is the different between Grade?</strong><br>
      At Grade 1, you can receive donations from your Level 1 donator. At Grade 2, you can receive donations from your
      Level 1 &amp; Level 2 donators and so on. The higher your grade, the more levels you can earn. </p>

    <p class="text-muted"><strong>What is the highest Grade I can Upgrade to?</strong><br>
      The highest is Grade 10. At this Grade you can receive donations from donators at Level 1 until 10.</p>

    <p class="text-muted"><strong>What is Upgrade donation?</strong><br>
      Upgrade donation is the donation you made to your referrer.</p>For example you are at Grade 1 and want to Upgrade
    to Grade 2. You will make donation to your Referrer Level 2.<p></p>

    <p class="text-muted"><strong>Can I Upgrade to higher Grade if my Referrer at the same or lower Grade?</strong><br>
      Yes. You can surpass your referrer.</p>

    <p class="text-muted"><strong>Wil I receive donation from my donator that surpass my Grade?</strong><br>
      No. You need to be at higher Grade. This is to make the system fair for members who is active than others.</p>

    <h2>Registration</h2>

    <p class="text-muted mt-5"><strong>Can Free member invite new member?</strong><br>
      No. Free member's referral link won't work until it is upgraded to Grade 1.</p>

    <p class="text-muted"><strong>Can I use the same email for multiple accounts?</strong><br>
      Yes. Each account need to use different username, but email address can be the same.</p>

    <p class="text-muted"><strong>Do I need to provide real email address?</strong><br>
      Yes. All notifications, reminder and account recovery need a valid email address.</p>
    <p class="text-muted">You need a valid email address to update your profile. If you registered with fake/wrong email address, the
      account is not accessible and will expire.</p>

    <p class="text-muted"><strong>Do I need to provide real phone number?</strong><br>
      This is optional. Members feel more confident if they can contact you to ask about the program and donation
      process.
    </p>

    <p class="text-muted"><strong>I did not receive any email from iCharity Club after registration.</strong><br>
      It could be in your Spam/Junk box. And it is also possible the email address is not valid. You can try 'Forgot
      Password' in login page.</p>

    <h2>User Account</h2>

    <p class="text-muted mt-5"><strong>What is Upgrade?</strong><br>
      Upgrade is a term used in the system for Upgrading your account Grade from Free, to Grade 1, Grade 2 and so on.
    </p>During Upgrade process, system will show you which Referrer you need to make donation to.<p></p>

    <p class="text-muted"><strong>How do I Upgrade?</strong><br>
      After Log in into Member's Panel, please look for Upgrade button and follow the steps.</p>

    <p class="text-muted"><strong>Why do I need to Upgrade?</strong><br>
      Upgrade is a process where you make donation to your referrer. So after Upgrade, you can start receiving donation
      from your donators.</p>

    <p class="text-muted"><strong>Is there any maintenance or administration fee?</strong><br>
      No.</p>

    <p class="text-muted"><strong>Why Free account has expiry?</strong><br>
      There will be some people that sign up a Free account just to take a look and learn more about the program, and
      not interested in participating the program. To make sure the system clean and running smoothly, free account will
      be removed after some period of times.</p>

    <p class="text-muted"><strong>What happen after a Free account expired?</strong><br>
      The account will be completely remove from iCharity Club. The user can no longer login except by signing up a new
      account.</p>

    <h2>Bank &amp; Payment Methods</h2>

    <p class="text-muted mt-5"><strong>Why do I need to provide payment method?</strong><br>
      Your donators will make donation directly to your bank account or any payment methods you provide.</p>

    <p class="text-muted"><strong>How many payment methods can I enter?</strong><br>
      Every member can add up to 5 payment methods / bank accounts.</p>

    <p class="text-muted"><strong>Can I use the same bank account for multiple account?</strong><br>
      Yes. If you have more than 1 iCharity Club account or you help to manage your friend/family account, you can use
      the same bank account information for all of the accounts.</p>

    <p class="text-muted"><strong>Can I edit, add, remove payment method?</strong><br>
      Yes you can do so at anytime. But please make sure you have at least 1 payment method available, or else your
      donator wont be able to donate to you.</p>

    <h2>Spillover Function</h2>

    <p class="text-muted mt-4"><strong>What is Spillover function?</strong><br>
      Spillover function will help to put your extra referrals below your direct donators (donator level 1). You can use
      this feature to help your direct donators earn and grow faster. In sign-up page, a spilled-over referral will be
      mark with asterisk (*).</p>

    <p class="text-muted"><strong>Can I choose not to use Spillover function?</strong><br>
      Yes. You can deactivate it from Spillover setting page.</p>

    <h2>Miscellaneous</h2>

    <p class="text-muted mt-4"><strong>Hashtag for iCharity Club?</strong><br>
      The official hashtag for iCharity Club is <b>#icharityclub</b></p>
    <p class="text-muted">This hashtag is used to gather all marketing effort and materials to be as reference for every member. It is
      encouraged to all members to include #icharityclub in all marketing.</p>

    <p class="text-muted"><strong>Is refund available?</strong><br>
      No refund is available after donation is made. Donation is from a member to another member, it is not managed or
      held by the system or 3rd party.</p>

    <p class="text-muted"><strong>How I can start inviting donators?</strong><br>
      The easiest way is you can start promoting your own referral link to social network site like Facebook, Twitter
      and chat application like Whatsapp, Telegram, Wechat etc.</p>
    <p class="text-muted">If your referrer is active and activate spillover feature, you can get new members from your referrer's extra
      referrals.</p>
  </div>
</div>
<app-footer></app-footer>