<app-menu></app-menu>

<!-- portada -->
<div class="portada">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h2 class="wow slideInLeft">A Smart & Systematic Peer-To-Peer Donation Platform.</h2>
            <p class="mt-5">iCharity Club is a free and easy to use member to member donation platform. No subscription or
              administration fees. All donations are between registered members.
</p>

<div class="mt-5 btns">
    <a href="" class="btn_color">Sing Up</a>
    <a href="" class="ml-4 btn_outline">Learn More</a>
</div>
        </div>
    </div>
</div>


<!-- How iCharity Works? -->


<div style="background: #fafafa;">
    <div class="container my-5">
        <div class="row text-center">
            <div class="col-12 col-md-12 mt-5">
                <h2 class="h2">How iCharity Works?</h2>
                <p class="text-muted">Its simple and straight forward, in 3 easy steps.</p>
            </div>
            <div class="col-12 col-md-4 mt-5">
                <img src="./assets/images/flat_join.png" width="35%" alt="">
                <h5 class="h5">1.Join Now</h5>
                <p class="text-muted">
                    Sign up for an account. Provide your preferred methods to accept donation. Local bank accounts,
                    Paypal, Bitcoin etc.
                </p>
            </div>
            <div class="col-12 col-md-4 mt-5">
                <img src="./assets/images/flat_partner.png" width="35%" alt="">
                <h5 class="h5">2. Give Donation</h5>
                <p class="text-muted">
                    Make a donation directly to the assigned member. The member will approve and upgrade your membership
                    status.
                </p>
            </div>
            <div class="col-12 col-md-4 mt-5">
                <img src="./assets/images/flat_members.png" width="35%" alt="">
                <h5 class="h5">3. Receive Donations</h5>
                <p class="text-muted">
                    You can start receiving donations directly to your bank account. Your referrer can help you, and you
                    can help your referrals to find donators.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Work Together With Spillover -->

<div class="container mt-5 section_home">
    <div class="row">
        <div class="col-12 col-md-6">
            <h3 class="h3">New! Unlimited Donations</h3>
            <p class="text-muted">Using spillover feature, you can help other members whose direct donators, to earn donation faster. Spillover help to distribute your new invited members to be your direct donators' donator. This way, your passive or less lucky donator can start earn donations too. You can choose to enable or disable this feature.</p>
        </div>
        <div class="col-12 col-md-6 text-center">
            <img src="./assets/images/flat_trophy.png" alt="">
        </div>
    </div>
</div>


<!-- New! Unlimited Donations -->

<div class="container section_home" style="background: #fafafa;">
  <div class="row">
    <div class="col-12 col-md-6 text-center">
    <img src="./assets/images/flat_circle_teamwork.png" alt="">
    </div>
    <div class="col-12 col-md-6">
      <h3 class="h3">Work Together With Spillover</h3>
      <p class="text-muted">Using spillover feature, you can help other members whose direct donators, to earn donation faster. Spillover
        help to distribute your new invited members to be your direct donators' donator. This way, your passive or less
        lucky donator can start earn donations too. You can choose to enable or disable this feature.</p>
    </div>
  </div>
</div>

<!-- Easy To Use Member Panel & Dashboard -->

<div class="container section_home">
  <div class="row">
    <div class="col-12 col-md-6 text-center">
      <h3 class="h3">Easy To Use Member Panel & Dashboard</h3>
      <p class="text-muted">Every registered member gets to use the same smart account management panel. All item such as profile setting,
        list of donations and donators, transaction records, marketing tools, etc., can be accessed easily.</p>
    </div>
    <div class="col-12 col-md-6 text-center">
      <img src="./assets/images/flat_puzzle.png" alt="">
    </div>
  </div>
</div>

<!-- Get A Free Account Now -->

<div class="get_acount py-5">
    <div class="container">
        <h2 class="h2">Get A Free Account Now</h2>
        <p class="mt-4 mb-5">It's a free to use platform.
          Sign up and log in now to see the member panel and how the system works.</p>
          <a href="" class="btn_color">Sing up Now</a>
    </div>
</div>

<app-footer></app-footer>