<app-menu></app-menu>

<div class="terms_portada py-5">
  <h1 class="h1">Frequently Asked Questions</h1>
</div>

<div class="container text-muted my-5">
  <div class="text-container w-50 text-left">
    <p>By signing up for membership, you agree to the following Terms, Conditions and Disclaimers :
    </p>
    <ul class="single-project-list">
      <li>This service is provided on an as is, as available service. We make no warranties of any kind, either
        expressed or implied.</li>
      <li>Under no circumstances, including negligence, shall we, or anyone else involved in creating, producing or
        distributing this service, be liable for any direct, indirect, incidental, special or consequential damages that
        result from the use of, or inability to use this service, and all the files and software contained within it,
        including, but not limited to, reliance on any information obtained through this service; or that result from
        mistakes, omissions, interruptions, deletion of files or e-mail, errors, defects, viruses, delays in operation,
        or transmission, or any failure of performance, whether or not limited to acts of God, communications failure,
        theft, destruction or unauthorized access to our records, programs or services.</li>
      <li>We reserve the right to add or remove features and functionality, make changes on how the platform works,
        manage memberships, within this site, and otherwise make changes to the service and this agreement without
        notice.</li>
      <li>We may terminate without notice, atour sole discretion, any membership deemed to be in breach of this
        agreement or otherwise found to be abusing or misusing the service, or harassing the other members or
        administrator in any way.</li>
      <li>In the unlikely event that this program should ever terminate it's operations, it's creator, operators,
        employees, assigns and successors shall not be held liable for any loss whatsoever to our members.</li>
      <li>Sites and individuals involved with the following activities are NOT ELIGIBLE: selling, providing or linking
        to unlicensed content, pornography, warez, pirated software, hacking or spamming software, email address lists
        or harvesting software, or any materials endorsing violence, hatred, revenge, racism, victimization, or criminal
        activity.</li>
      <li>We make no claims on how much money you can make with our program. Your ability to earn depends on a number of
        factors, including where and how (and how often) you advertise the program, and the motivation and ability of
        those in your uplines, to make referrals. Individual results will vary.</li>
      <li>Members caught spamming or otherwise causing harm to our program will have their accounts terminated, and
        maybe prosecuted for their actions. We will investigate all allegations before taking action.</li>
      <li>All transactions are final. No refunds.</li>
      <li>You understand that all donations will be made to you from our payment processors, and that any problems you
        have concerning such matters should be taken up with your respective merchant account provider.</li>
      <li>You agree to accept email updates regarding iCharity Club program. We will never inundate you with emails or
        spam.</li>
    </ul>
    <p>Report spam and other abuse via the contact form.<br>
      Please include the entire spam email with headers.</p>
  </div>
</div>


<app-footer></app-footer>